<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		    <style>
        ul {
            height: 900px;
            width: 300px;
            overflow-y: scroll;
            border: 1px solid#003B00;
            margin: 50; 
            position: fixed;
            bottom: 0;
            right: 0;
            background:black;
            color: #008F11;
            font-size: 25px;
        }
        button{
            
            height: 120px;
            width:  300px;
            background:black;
            color: #008F11;
            font-size: 50px;
            border: 1px solid black;
        }
    
        body{
            background-color: #008F11;
        }
    
    
    </style>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        socket.on('console', function(msg) {
            var message = document.createElement('li');
             message.innerHTML = msg;
            
            document.getElementById('scroll').appendChild(message);
            document.getElementById('scroll').scrollTop = message.offsetHeight + message.offsetTop;
        });
        socket.on('welcome', function (msg) {
            
            if(msg == 1){
                alert('youwon');
            }
            else{
                alert('youlost')
            }
            
        });
        socket.on('ready', function () {
            $(document).ready(function(){
                socket.emit('ready');
                 $("#searchgame").fadeOut();
                 $("#readybutton").fadeIn();
            });
            
        });
        socket.on('opntreadyc',function(){
            socket.emit('opntready');
        });
        socket.on('enemyrollc',function(roll){
            socket.emit('enemyroll',roll);
        });
        function myFunction() {
            socket.emit('a');
            
        }
        function readyfunc() {
            socket.emit('localready');
            
        }
    </script>
     <h1>{{creditss}}</h1>
     <div style="display:flex;justify-content:center;align-items:center;">
       <button id="searchgame" onclick="myFunction()" >matchmake</button>
       <button id="readybutton" onclick="readyfunc()" style="display:none;background:#008F11;
       color: black;">Ready</button>
    </div>
    
       <ul id="scroll"style="list-style-type:none">
        <li> Events</li>
    
      </ul>
</body>


</html>