<!-- main.hbs -->

<!DOCTYPE html>
<html>
<head>
    <title>Steam Login</title>
    <style>
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }

        td {
            height: 40px;
        }
    </style>
  
</head>
	<body>
		      <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();


        socket.on('welcome', function (msg) {
            alert(msg);
        });

        function myFunction() {
            socket.emit('a');
        }
    </script>
    <button onclick="myFunction()">Clickasdasdasdass me</button>
		{{#if user}}
		<h1>Welcome, {{user.personaname}}!</h1>
		<table>
			<tr>
				<th>Property</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Username</td>
				<td>{{user.personaname}}</td>
			</tr>
			<tr>
				<td>SteamID</td>
				<td>{{user.steamid}}</td>
			</tr>

			<tr>
				<td>credits</td>
				<td>{{credits}}</td>
			</tr>
			
		</table>
		<br />
		<a href="/logout">Logout</a>
		{{else}}
		<a href="/auth/steam">Click here to login</a>
		{{/if}}

	</body>

</html>
