<!-- main.hbs -->

<!DOCTYPE html>
<html>
	<head>
		    <style>
        ul {
            height: 300px;
            width: 300px;
            overflow-y: scroll;
            border: 1px solid black;
            margin: 50; 
            position: fixed;
            bottom: 0;
            right: 0;
        }
    
    
    
    </style>
	</head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script>
        var socket = io();


        socket.on('welcome', function(msg) {
            var message = document.createElement('li');
             message.innerHTML = msg;
            
            document.getElementById('scroll').appendChild(message);
            document.getElementById('scroll').scrollTop = message.offsetHeight + message.offsetTop;
        });

        function myFunction() {
            socket.emit('a');
        }
        </script>
        <button onclick="myFunction()">Clickasdasdasdass me</button>
          <ul id="scroll"style="list-style-type:none">
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

    </body>
</html>
