﻿<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();


        socket.on('welcome', function (msg) {
            if(msg == 1){
                alert('youwon');
            }
            else{
                alert('youlost')
            }
            
        });

        function myFunction() {
            socket.emit('a');
        }
    </script>
   
    <button onclick="myFunction()">Clickasdasdasdass me</button>
</body>


</html>